@font-face {
    font-family: 'Karrik-regular';
    src: url('fonts/Karrik-Regular.woff2') format('woff2'),
         url('fonts/Karrik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karrik-italic';
    src: url('fonts/Karrik-Italic.woff2') format('woff2'),
         url('fonts/Karrik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

/* HEADER */
.header-title {
    font-size: 5.6rem;
    text-align: center;
    padding: 30px;
    background-color: #f3f3f3;
    box-shadow: 3px 3px 5px #e3e3e3;
}