@font-face {
    font-family: 'Karrik-regular';
    src: url('fonts/Karrik-Regular.woff2') format('woff2'),
         url('fonts/Karrik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karrik-italic';
    src: url('fonts/Karrik-Italic.woff2') format('woff2'),
         url('fonts/Karrik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    fill: #505050;
}

/* HEADER */
.header-title {
    font-family: "Karrik-regular", 'Helvetica', sans-serif;
    font-size: 5.6rem;
    text-align: center;
    padding: 30px;
    background-color: #f3f3f3;
    box-shadow: 3px 3px 5px #e3e3e3;
}

/* BOOKS CONTAINER */
.books-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.card {
    max-width: 400px;
    height: 200px;
    padding: 20px 30px;
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    box-shadow: 3px 5px 5px#e2e2e2;
}

.card h3 {
    font-size: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.8rem;
}